.react-tagger {
  font: 13px sans-serif;
}

.react-tagger-input {
  display: block;
  width: 100%;
  height: 24px;
  border: 1px solid #ddd;
  font: 15px Helvetica;
  outline: none;
  padding-left: 10px;
}

.react-tagger-tag-wrapper {
  height: 20px;
  display: inline-block;
  position: relative;
  top: -24px;
}

.react-tagger-tag {
  display: inline-block;
  textAlign: center;
  background-color: #f1f1f1;
  border-radius: 2px;
  margin-right: 2px;
  margin-left: 5px;
  padding: 2px;
}

.react-tagger-delete-tag {
  display: inline-block;
  transition: transform 0.1s ease;
  cursor: pointer;
}

.react-tagger-delete-tag img {
  position: relative;
  top: 2px;
}

.react-tagger-delete-tag:hover {
  transform: scale(1.1);
}

.react-tagger-suggestions-wrapper {
  position: relative;
  width: 200px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  box-shadow: 0 0 3px #f7f7f7;
  top: -20px;
}

.react-tagger-suggestion-active {
  background-color: #E5F9FF;
}

.react-tagger-suggestion {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
